*{
    margin: 0px;
    padding: 0px;
}

.full_body{
    width: 100%;
    
    background-color: gray;
    

}

.mid{
    width: 80%;
    height: 100%;
    margin:auto;
    /*border: 1px solid black;*/
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, minmax(350px,auto));
}

/*==headerpart start======*/

.header{
    background-color: rgba(236, 22, 6, 0.938);
    grid-column: 1/7;
    border-bottom: 2px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}
.content{
    height: 100%;
    grid-column: 1/3;
    text-align: justify;
    padding: 30px;
    

}



.content h1{
    color: white;
    font-size:60px;
    margin: 20px 0px;
    text-shadow: 1px 2px 3px black;

}

.content hr{
    width:500px;
    margin-bottom: 10px;
}

.content h3{
    color: white;
    font-size: 30px;
    line-height: 40px;
    text-shadow: 1px 2px 3px black;

}


.photo{
    height: 100%;
    

}
.image{
    height: 300px;
    width:300px;
    margin:20px auto;
    
}

.image img{
    height:100%;
    width: 100%;
    border-radius: 50%;
    border:2px solid white;
    
}

/*header part ends here==========*/
.left_side{
    background-color: rgb(71, 71, 67);
    grid-column: 1/3;
    grid-row: 2/5;
    padding: 20px;
    
}

.left_side .flex-container{
    display: flex;
    flex-flow: column;
    padding:20px;
}

.contact h2{
    color: white;
    font-size: 30px;
    text-shadow: 1px 2px 3px black;

}

.contact ul{
    list-style: none;
}

.contact ul li{
    color: white;
    margin: 10px 0px;
    text-align: justify;
}



.contact ul li a{
    text-decoration: none;
    color: white;
}







.contact hr{
    margin:20px 0px;
}


.skills h2{
    margin: 20px 0px;
    color: white;
    text-shadow: 1px 2px 3px black;
}


.skills ul{
    list-style: none;
    margin-bottom: 20px;
}

.skills ul li{
    color: white;
    margin: 10px 0px;
    
}

.skills ul li a{
    text-decoration: none;
    color: white;
}

.skills hr{
    margin:20px 0px;
}

.skills span{
    color: rgb(235, 10, 10);
    
}


.certificates h2{
    margin: 20px 0px;
    color: white;
    text-shadow: 1px 2px 3px black;
}
.certificates hr{
    margin:20px 0px;
}

.certificates p{
    color: white;
}






/*===left design part ends=====*/


.right_side{
    background-color: #fff;
    grid-column: 3/6;
    grid-row: 2/5;
    padding: 50px;
}

.right_side hr{
    width: 600px;
    margin: 20px 0px;
}

.right_side h2{
    margin-top: 20px;
    font-size:35px;
    text-shadow: 1px 1px 2px black;
}

.right_side ul li{
    font-size: 20px;
    margin:10px 0px;
}

.right_side ul li ul{
    list-style: none;
}